.sb-layout-dashboard .container {
  width: 100%;
  max-width: 1200px; /* Aumente o max-width conforme necessário */
  margin: 0 auto;
  padding: 40px; /* Aumente o padding para mais espaço interno */
  background-color: #a4a1f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dropdown {
  margin-bottom: 40px; /* Aumente a margem para mais espaço entre elementos */
}

.dropdown label {
  margin-right: 20px; /* Aumente a margem para mais espaço entre o label e o select */
  font-weight: bold;
  font-size: 18px; /* Aumente o tamanho da fonte */
}

.dropdown select {
  padding: 15px; /* Aumente o padding para um select maior */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px; /* Aumente o tamanho da fonte */
}

.doctor-list p, .time-slots p {
  margin-bottom: 20px; /* Aumente a margem para mais espaço */
  font-weight: bold;
  font-size: 18px; /* Aumente o tamanho da fonte */
}

.doctor-list ul, .time-slots div {
  list-style-type: none;
  padding: 0;
}

.doctor-list li, .time-slot {
  margin-bottom: 10px; /* Aumente a margem para mais espaço entre itens */
  padding: 15px; /* Aumente o padding para botões maiores */
  background-color: #a8c1da;
  border-radius: 5px;
  font-size: 16px; /* Aumente o tamanho da fonte */
}

button {
  padding: 15px 30px; /* Aumente o padding para botões maiores */
  background-color: #0e0317;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Aumente o tamanho da fonte */
}

button:hover {
  background-color: #0e0317;
}

table {
  width: 100%; /* Garanta que a tabela ocupe toda a largura disponível */
  border-collapse: collapse;
  margin-top: 20px; /* Adicione uma margem superior */
}

table th, table td {
  border: 1px solid #ccc;
  padding: 15px; /* Aumente o padding para células maiores */
  text-align: left;
  font-size: 16px; /* Aumente o tamanho da fonte */
}

table th {
  background-color: #d6d0d0;
  font-weight: bold;
}

.encerrar-btn, .reativar-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.encerrar-btn {
  background-color: #dc3545;
  color: white;
}

.encerrar-btn:hover {
  background-color: #c82333;
}

.reativar-btn {
  background-color: #28a745;
  color: white;
}

.reativar-btn:hover {
  background-color: #218838;
}

